<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API - Trails</title>
</head>
<body>
    <h1>Trail Information</h1>

    <ul>
        {% for trail in trails %}
            <li>
                <h2>{{ trail.TrailName }}</h2>
                <p><strong>Trail Summary:</strong> {{ trail.TrailSummary }}</p>
                <p><strong>Trail Description:</strong> {{ trail.TrailDescription }}</p>
                <p><strong>Difficulty:</strong> {{ trail.Difficulty }}</p>
                <p><strong>Location:</strong> {{ trail.Location }}</p>
                <p><strong>Length:</strong> {{ trail.Length }} km</p>
                <p><strong>Elevation Gain:</strong> {{ trail.ElevationGain }} meters</p>
                <p><strong>Route Type:</strong> {{ trail.RouteType }}</p>
                <p><strong>Owner ID:</strong> {{ trail.OwnerID }}</p>

                <!-- Trail Features -->
                <h3>Features:</h3>
                <ul>
                    {% for feature in trail.trail_features %}
                        <li>
                            <p><strong>Feature ID:</strong> {{ feature.FeaturesId }}</p>
                            <p><strong>Feature Name:</strong> {{ feature.feature.Feature }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <p>No trails found.</p>
        {% endfor %}
    </ul>
</body>
</html>
